header {
  width: 100%;
  height: 150px;
  top: 0;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

nav {
  background-color: rgb(231, 152, 225);
}

.hero {
  /* background-color: rgb(231, 152, 225); */
}

/* Seccion de imagen de perfil */
.circle-container {
  /* background-color: aqua; */
  width: 60%;
  margin: auto;
}
.circle {
  width: 196px;
  height: 195px;
  border: 3px solid #524949;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.photo {
  height: 100%;
  position: relative;
}
.photo-container {
  height: 100%;
  width: 100%;
}
.photo-profile {
  height: 100%;
  width: auto;
}

/* Seccion de nombre */
.name {
  color: rgb(63, 46, 46);
  margin: 0;
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

/* Seccion de descripcion */
.information {
  text-align: center;
  background-color: rgb(159, 159, 221);
}

/* Seccion social - links */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(234, 110, 245);
}
.social-link {
  display: inline;
  width: 45px;
  height: 45px;
  margin: 5px 10px;
  background-repeat: no-repeat;
  background-size: 45px 45px;
}
.social-link.facebook {
  background-image: url('./icon/facebook.svg');
}
.social-link.instagram {
  background-image: url('./icon/instagram.svg');
}
.social-link.ko-fi {
  background-image: url('./icon/ko-fi.svg');
}
.social-link.twitter {
  background-image: url('./icon/twitter.svg');
}

/* Seccion de post */
.post {
  background: blueviolet;
  padding: 1px; /* 12px */
}
.article-post {
  border-radius: 7px;
  padding: 16px;
  margin: 15px; /* Se agrega */
  background: #dd53ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article-details {
  /* padding: 5px; */
}
.article-tittle {
  margin: 8px 4px;
}
.article-date {
  margin: 0;
  text-align: right;
  font-size: 12px;
}
.article-description {
  margin: 9px 0 0 0;
}

footer {
  width: 100%;
  height: 50px;
  background: gray;
}

.parallax {
  height: 100%;
  background-image: url("./img/cerezos.jpg");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  object-fit: contain;
}