header {
  width: 100%;
  height: 150px;
  top: 0;
}

body {
  margin: 0;
  color: #535353;
  background-color: #ffd3d4;
  font-family: 'Muli', sans-serif;
}

.thumbnail {
  height: 314px;
  width: 100%;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
  opacity: .95;
}

/* Seccion de imagen de perfil */
.circle-container {
  /* background-color: aqua; */
  width: 60%;
  margin: auto;
  margin-top: -252px;
}
.circle {
  width: 196px;
  height: 195px;
  /* border: 3px solid #524949; */
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  box-shadow: 1px 2px 4px #585858;
}
.photo {
  height: 100%;
  position: relative;
}
.photo-container {
  height: 100%;
  width: 100%;
}
.photo-profile {
  height: 100%;
  width: auto;
}

/* Seccion de nombre */
.name-container {
  height: 55px;
  margin: auto;
  margin-top: 8%;
  background-color: #ffd3d4;
  /* opacity: .5; */
  width: 50%;
  border-radius: 6px;
  box-shadow: 1px 3px 2px #f8b4b5;
}
.name {
  color: rgb(63, 46, 46);
  margin: 0;
  /* margin-top: 35px; */
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

/* Seccion de descripcion */
.information {
  margin: 0 4%;
  margin-top: 15px;
  text-align: center;
  background-color: #ffd3d4;
}

/* Seccion social - links */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgb(234, 110, 245); */
}
.social-link {
  display: inline;
  width: 45px;
  height: 45px;
  margin: 5px 10px;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  box-shadow: 2px 2px 6px #d39b9b;
  border-radius: 50%;
}
.social-link.facebook {
  background-image: url('./icon/facebook.svg');
}
.social-link.instagram {
  background-image: url('./icon/instagram.svg');
}
.social-link.ko-fi {
  background-image: url('./icon/ko-fi.svg');
}
.social-link.twitter {
  background-image: url('./icon/twitter.svg');
}

/* Seccion de post */
.post {
  background: #ffd3d4;
  padding: 1px; /* 12px */
}
.article-post {
  border-radius: 7px;
  padding: 16px;
  margin: 15px; /* Se agrega */
  background: #ffb9ba;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 1px 3px 4px #f8b4b5;
}
.article-tittle {
  margin: 8px 4px;
}
.article-date {
  margin: 0;
  text-align: right;
  font-size: 12px;
}
.article-description {
  margin: 9px 0 0 0;
}

footer {
  width: 100%;
  height: 50px;
  background: #ffb9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  text-align: center;
}